<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AguExposito-Portfolio</title>
    
</head>
<body style="background-color:#36a0ae; height: 100%; width: 100%;"> <!--closses at the end-->
    
<div class="pagecontainer" style="position:relative; min-height:100%;"> <!--closses at the end-->
<app-header></app-header>
<main class="d-flex flex-wrap justify-content-center container"> <!--closses at the end-->
<app-acerca-de-foto></app-acerca-de-foto>
<app-exp-laboral></app-exp-laboral>
<app-formacion></app-formacion>
<app-habilidades></app-habilidades>
<app-proyectos></app-proyectos>
<app-footer></app-footer>
</main>
</div>
</body>
</html>

<!--<app-whole-page></app-whole-page>-->