  <header class="p-3" style="background-color:#00022b">
   
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png" alt="ArgentinaPrograma" style="height: 100px; margin-left: -90px;">
        </a>

         <!--BOTÓN LOGIN-->

        <!--BARRA NAVEGACIÓN-->
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" style="margin-left: 30px; width: 150px;">
            <input type="search" class="form-control form-control-dark text-bg-dark rounded-3" placeholder="Search..." aria-label="Search">
        </form>

          <!--MENU-->

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-center align-content-center align-items-center" style="margin-left: 112px; font-size: 20px;">
          <li><a href="#" class="nav-link px-2 text-white" style="margin-left: 10px;">INICIO</a></li>
          <li><a href="#" class="nav-link px-2 text-white" style="margin-left: 10px;">TRABAJOS</a></li>
          <li><a href="#"><img src="../../../assets/TrianguloMenu.png" alt="TrianguloMenu" style="margin-top:10px; margin-left: 10px; height: 40px;"></a></li>
          <li><a href="#" class="nav-link px-2 text-white" style="margin-left: 10px;">SOBRE MI</a></li>
          <li><a href="#" class="nav-link px-2 text-white" style="margin-left: 10px;">CONTACTAME</a></li>
        </ul>


         <!--LOGIN SINGUP-->
         <div class="text-end" >
            <button type="button" class="btn me-2" style="color: #09ffff; outline-color: #09ffff;  ">Login</button>
            <button type="button" class="btn me-2" style="background-color: #00e8e8; outline-color: #00022b; color: #00022b;" >Sign-up</button>
         </div>  
         <!--SocialMedia-->
         <app-social-icons></app-social-icons>
      </div>
    </div>
  </header> 
  <app-banner></app-banner>

