<!--Experiencia Laboral-->
<div class="row mb-2">
    <div class="col-md-6 rounded-4 " style="background-color: #00022b; inline-size: 1481px;">
      <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250" style="background-color:#002a46 ; margin-left: 10px; margin-top: 30px; width: 1400px;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-i  nline-block mb-2 text-primary">Fecha de inicio</strong>
          <h3 class="mb-0">Nombre Empresa</h3>
          <div class="mb-1 text-muted">Puesto</div>
          <p class="card-text mb-auto">Descripción de lo que hago</p>
        </div>
        <!--Logo-->
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Logo IB</text></svg>
  
        </div>
      </div>
    </div>
</div>