<!--FOTO-->
<div>
  <div class="d-flex flex-wrap justify-content-center container" style="background-color: #00022b; margin-left: -190%; margin-top: -100px; width: 300px; border-radius: 50px 50px 0px 0px;">
    <img src="../../../assets/FotoCarnet300x300.jpeg" alt="AgustinExposito" style="border-radius: 5px; border: 5px solid #00bfbf; height:200px; width:200px; margin-top: 10px; margin-left: auto; margin-right: auto;" class="rounded-circle">
    <h2 style="color: #00bfbf; text-align: center;"><u>{{person.nombre}} {{person.apellido}}</u></h2>
    <h5 style="color: #ffff; text-align: center; margin-top: 4px;">"Full Stack Web Developer Jr"</h5>
  </div>
</div>

<!--Presentación Profesional-->
<div class="container rounded-3" style="background-color: teal; border-color:#00022b; border: 3px solid #00022b; border-bottom: 5px solid #00022b; border-right: 5px solid #00022b; height: 200px; margin-top: -205px; margin-left: -50%; width: 300%;">
  <h3 style=" text-align: center;">A cerca de mi...</h3>
</div>
