<!--Antecedentes Academicos-->
<div class="row mb-2 rounded-4 pt-3 mt-4" style="background-color: #009cbf; border: 4px #002a46 solid">
    <h2 class="pb-2 rounded-2 mb-2" style="border-bottom: solid 3px #002a46; width: 90%; margin: auto; color: #00022b;">Formación Académica</h2> <!--Divisor-->
    <!--Seccion 1-->
    <div class="col-md-6">
      <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color:#00e8e8; border: 3px solid #002a46; border-bottom: #002a46 5px solid; border-left: #002a46 5px solid;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Lugar</strong>
          <h3 class="mb-0">Titulo Formación Académica 1</h3>
          <div class="mb-1 text-muted">Fecha</div>
          <p class="card-text mb-auto">Breve descripción</p>
        </div>
        <!--Imagen-->
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="20%" y="50%" fill="#eceeef" dy=".3em">Imagen relacionada</text></svg>
        </div>
      </div>
    </div>
    <!--Seccion 2-->
    <div class="col-md-6">
      <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color:#00e8e8; border: 3px solid #002a46; border-bottom: 5px solid #002a46 ; border-left: 5px solid #002a46 ;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Lugar</strong>
          <h3 class="mb-0">Titulo Formación Académica 2</h3>
          <div class="mb-1 text-muted">Fecha</div>
          <p class="mb-auto">Breve descripción</p>
        </div>
        <!--Imagen-->
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="20%" y="50%" fill="#eceeef" dy=".3em">Imagen relacionada</text></svg>
        </div>
      </div>
    </div>
     <!--Seccion 3-->
    <div class="col-md-6">
      <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color:#00e8e8; border: 3px solid #002a46; border-bottom: 5px solid #002a46 ; border-left: 5px solid #002a46 ;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Lugar</strong>
          <h3 class="mb-0">Titulo Formación Académica 3</h3>
          <div class="mb-1 text-muted">Fecha</div>
          <p class="card-text mb-auto">Breve descripción</p>
        </div>
        <!--Imagen-->
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="20%" y="50%" fill="#eceeef" dy=".3em">Imagen relacionada</text></svg>
        </div>
      </div>
    </div>
     <!--Seccion 4-->
    <div class="col-md-6 pro">
      <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color:#00e8e8; border: 3px solid #002a46; border-bottom: 5px solid #002a46 ; border-left: 5px solid #002a46 ;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Lugar</strong>
          <h3 class="mb-0">Titulo Formación Académica 4</h3>
          <div class="mb-1 text-muted">Fecha</div>
          <p class="mb-auto">Breve descripción</p>
        </div>
        <!--Imagen-->
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="20%" y="50%" fill="#eceeef" dy=".3em">Imagen relacionada</text></svg>
        </div>
      </div>
    </div>
</div>
